body{
    font-family: 'poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.ok{
    color:plum;
}
section{
    display:flex;
}
.half-width{
    width: 50%;
    padding-left:5%;
    }
.half-width img{
    width:80%
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(136, 67, 136),pink);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius:5px;
}