body {
  font-family: "poppins", sans-serif;
  margin: 0px 100px;
  align-items: center;
}
h1 {
  font-size: 50px;
}
.ok {
  color: plum;
}
section {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 90%;
  margin: 20px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(136, 67, 136), pink);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.top-banner {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 90px;
}

.dream-big .right {
  background-image: url("own show/bg4.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}
.dream-big {
  height: 50;
}
